.header__left, .header__right{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 0 15px;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header_logo img{
    width: 180px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.header__right {
    width: 250px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.settings svg{
    width: 30px;
    height: 30px;
}

.settings svg {
    font-weight: bold;
}

.number__img svg {
    width: 40px;
    height: 40px;
}

.number__img svg {
    cursor: pointer;
    transition: .2s;
}

.number__img svg:hover {
    color: #008CF0;
}

.open__button__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.open__button__container svg {
    color: #FFFFFF99;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/*DARK MODE*/

.dark__header {
    background: #313131;
}

.dark__header .number__img svg {
    color: #FFFFFF99;
}

.dark__header .number__img svg:hover, .header .open__button__container svg:hover, .dark__header .open__button__container svg:hover{
    color: #008CF0;
    transition: .2s;
}

.header .open__button__container svg {
    color: #000;
}

@media (min-width: 1920px) {
    .header__container, .dark__header__container {
        width: 1920px;
        margin: 0 auto;
    }

    .header_logo img {
        width: 220px;
    }
}

@media (max-width: 1024px) {
    .header__right {
        width: 150px;
    }
}

@media (max-width: 450px) {
    .header_logo img {
        width: 150px;
    }

    .header svg, .dark__header svg{
        width: 30px;
        height: 30px;
    }
}
