.container, .dark__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dark__container, .dark__container .children__content {
    background: #313131;
}


.children__content {
    flex: 1;
    margin: 0 auto;
    background: #e0e1ea;
    width: 100%;
    max-width: 1920px;
}