.button {
    outline: none;
    border: none;
    background: #292b36;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
}

.button:hover {
    background: #006eff;
}